# Logs
logs
*.log

.git-tools
start_automator.sh
git.sh
automatorRunAll.app
run.app
.prettierrc.json

node_modules/
.DS_Store
run.app/*
# dist
# dist-ssr
#coverage
#*.local

#/cypress/videos/
#/cypress/screenshots/

# Editor directories and files
.vscode/*

#*.tsbuildinfo
