# Logs
logs
*.log

.git-tools
start_automator.sh
git.sh
automatorRunAll.app
run.app/*
.prettierrc.json
start_vue_automator.sh
start_vue_terminal.sh
kill_vite.sh

zsh/run_npm_dev_temp.sh

node_modules/
.DS_Store

# Editor directories and files
.vscode/

dist/